*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    visibility: hidden;
    
}
.label{
    display: block;
    /* position: absolute; */
    width: 80px;
    height: 40px;
    background: lightgrey;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.circle{
    width: 36px;
    height: 36px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    animation: toggleOff .4s linear  forwards;
}
.input:checked + .label{
    background: salmon;
}
.input:checked + .label .circle{
    animation: toggleOn .4s linear  forwards;
}
@keyframes toggleOn {
    0%{
        transform: translateX(0px);

    }
    100%{
        transform: translateX(40px);
    }
}
@keyframes toggleOff {
    0%{
        transform: translateX(40px);

    }
    100%{
        transform: translateX(0px);
    }
}