*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.search-bar-container{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    /* border: 1px solid lightgrey; */
    padding: 5px;
    filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.2)) drop-shadow(-6px -6px 10px rgba(255, 255, 255, 0.7));
    position: relative;
    transition: width 0.5s;
}
.magnifier{
    width: 25px;
    position: absolute;
    left: 13px;
    cursor: pointer;
}
.mic{
    width: 30px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.input{
    margin: 10px 50px;
    border: none;
    background-color: transparent;
    outline: none;
    color: gray;
}

.active.search-bar-container{
    width: 50px;
    
}
.active .input{
    width: 0;
}
.active .mic{
    width: 0;
}
